include ../mixins/mkPost
include ../mixins/head
include ../mixins/header
include ../mixins/footer
include ../mixins/utils
include ../mixins/post

- var now = new Date()
- 
  var langs = ["plaintext"]
      .concat([
        "javascript",
        "typescript",
        "java",
        "rust",
        "go",
        "python",
        "ruby",
        "php",
        "c",
        "c#",
        "c++",
        "cobol",
      ].toSorted())
doctype html
html
  +head("timeline")
  body
    main#content
      +header(ownDid, didHandleMap)

      if ownDid
        +mkPost()

      div.timeline
        each paste in pastes
          - var handle = didHandleMap[paste.authorDid]
          +post(paste, handle, paste.authorDid)

      +footer()
