include ../mixins/head

doctype html
html
  +head("login")
  body
    main#content
      h1 login
      form(action='/login' method="post")
        div.login-row
          input(type="text" name="handle" placeholder="enter handle" required).login-input-title
          button(type="submit").login-submit-button login
